<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="cx/layout">
<head>
    <title>Exchange Rates Conversion Webapp</title>
</head>
<body>
<h1 layout:fragment="header">Login</h1>

<div layout:fragment="content"
     class="container">

    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <div th:if="${registered}" class="alert alert-success">
        User successfully registered. You may now log in.
    </div>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>E-mail:</td>
                <td><input type="text" name="username" class="form-control"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" class="form-control"/></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="login" class="btn btn-default"/>
                </td>
            </tr>
        </table>
    </form>
    <p>Not a user yet? Register <a th:href="@{/registration}">here</a>.</p>
</div>
</body>
</html>